{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- About-->
        <section class="content-section bg-primary text-white">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2><font color = "#FFD700">Historia modlitwy o nawrócenie narodów Europy</font></h2>
                        <p class="lead mb-5" style="text-align: justify">
                        <font size="4">

                        Inspiracją do rozpoczęcia takiej formy modlitwy przyszła podczas obchodów stulecia objawień fatimskich i kanonizacji Św. Hiacynty i Franciszka Marto oraz życie i działalność sługi bożego księdza Franciszka Blachnickiego.
                        Dzień kanonizacji Świętych Pastuszków, czyli  13 Maja 2017 roku był dla mnie dniem kiedy to postanowienie przyszło i od tamtego dnia, codziennie w okresie od 13 maja do 13 października modlę się dziesiątką różańca za inny, określony  kraj Europy ofiarując Niepokalanemu Sercu Maryi intencję nawrócenia rządzących i mieszkańców danego kraju.<br>
                        Tą swoistą pielgrzymką duchową chciałbym podzielić się z innymi.
                        Jako formę nawiązania realizacji z innymi przyjąłem uruchomioną przeze mnie stronę facebook Pray Across Europe.
                        Poprzez tę stronę zachęcam do włączenia się do tej wyprawy pielgrzymkowej poprzez parafie Europę.
                        Modlitwa zawierzenia jest tłumaczona przez różne osoby z innych krajów przez co każdy może modlić się w swoim ojczystym języku za swój i inne kraje.
                        Ta duchowa podróż, z mojej strony to pielgrzymka jako grzesznika nawracającego się prosząc również Dobrego Boga o wiarę dla innych we wspólnocie.<br>
                        <br>

                        Treść modlitwy zawierzenia ułożyła się właśnie 13 maja 2017 roku i brzmi jak poniżej:<br>

                            <q><i>O Maryjo, która objawiłaś się pastuszkom w Fatimie, ofiaruję dzisiaj Twemu Niepokalanemu Sercu intencję nawrócenia (kraju), abyś, o Pani, wybłagała u Boga odmianę serc rządzących i mieszkańców tego kraju.</i></q><br>
                        <br>
                        Dziesiątka Różańca<br>
                        <br>
                        Po odmówionej dziesiątce wezwanie:<br>
                        <q><i>Święta Hiacynto, Święty Franciszku módlcie się za nami, siostro Łucjo służebnico boża wstawiaj się za nami.</i></q><br>
                        <br>
                        Krzysztof Lipka<br>
                        <br>
                        <small>Modlitwa uzyskała od Władz Kościelnych zgodę do prywatne go odmawiania:<br>
                               Imprimatur / Za zgodą Kurii Metropolitalnej Wrocławskiej L.dz. 436/2020 Wrocław 19.05.2020 r.</small><br>
                        <br>

                        </font>


                            <small><a href="{%url 'core-downloads'%}"><font color = "#FFD700">Zobacz dokument</font></a></small><br>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}